__pycache__/
.venv/
/demo

agents/llm_clients

config/config.yaml 
config/.env
config/key_dashscope.yaml
tests/history_sets

 
*/~*
logs/*
logging/*
result.json
app_a_start.sh
app_b_start.sh

tool_test_run.py
test_history.py
test_content.ipynb
test_docker.py
test_service.py
test_graph.py
test_graph.png
redis_op.ipynb
records.ipynb

agent-prompt/modify/usage1.md

nacos-data